<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @proyecto.name %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @proyecto.comments %>
</p>

<%= link_to 'Edit', edit_proyecto_path(@proyecto) %> |
<%= link_to 'Back', proyectos_path %>
