<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tarea.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @tarea.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @tarea.time %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tarea.description %>
</p>

<%= link_to 'Edit', edit_tarea_path(@tarea) %> |
<%= link_to 'Back', tareas_path %>
